.info{
  &__tile__left{
    background: $mainBlue;
  }
  &__tile__right{
    background: $mainGrey;
    text-align: right;
}
  &__title h2{
    color: #fff;
    font-weight: 100;
  }
  &__content{
    width: 50%;
    color: #fff;
    font-weight: 100;
    float: left;
  }
  &__content-right{
    float: right;
    text-align: right;
  }
  &__content-right p{
    margin: 0;
  }
  &__content-left-graphic{

  }
  &__graphic__wlan{
    width: 20%;
    margin-right: 2em;
    margin-left: 3em;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    animation-name: pulsing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  &__graphic__logo{
    width: 30%;
    margin-right: 2em;
  }
  &__graphic{
    margin-top: 3em;
  }
  &__graphic__book{
    width: 40%;
    margin-right: 1em;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    animation-name: pulsing-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

/* Standard syntax */
@-webkit-keyframes pulsing {
  0%    {width: 20%;}
  50%   {width: 22%;}
  100%  {width: 20%;}
}
/* Standard syntax */
@keyframes pulsing {
  0%    {width: 20%;}
  50%   {width: 22%;}
  100%  {width: 20%;}
}

/* Standard syntax */
@-webkit-keyframes pulsing-2 {
  0%    {width: 40%;}
  50%   {width: 42%;}
  100%  {width: 40%;}
}
/* Standard syntax */
@keyframes pulsing-2 {
  0%    {width: 40%;}
  50%   {width: 42%;}
  100%  {width: 40%;}
}
