.tasks{
  color: #fff;
  &__1{
    background: $mainGrey;
  }
  &__2{
    background: $mainGreen;
  }
  &__3{
    background: $mainBlue;
  }
  &__profile-img{
    border-radius: 2em;
  }
  &__profile-quote{
    font-weight: 100;
    font-style: italic;
    padding: 1em;
  }
}
